.footer {
  width: 80vw;
  margin-left: 7.5vw;
  margin-right: 10vw;
  padding-top: 5vh;
  margin-top: 5vh;
  text-align: center;
  border-top-style: solid;
  border-top-color: var(--gruvwhite);
  box-sizing: border-box;
}

.footer h1 {
  font-size: 110%;
}

.footer ul {
  list-style-type: none;
  padding: 0;
}

.linksOfInterest {
  text-align: left;
  margin-bottom: 5vh;
}

@media only screen and (min-width: 720px) {
  .footer {
    margin-left: 10vw;
    margin-right: 10vw;
    padding-bottom: 5vh;
  }
}
