.footer {
  width: 80vw;
  margin-left: 7.5vw;
  margin-right: 10vw;
  padding-top: 5vh;
  border-top-style: solid;
  border-top-color: white;
  box-sizing: border-box;
}

@media only screen and (min-width: 720px) {
  .footer {
    margin-left: 10vw;
    margin-right: 10vw;
    padding-bottom: 2.5vh;
  }
}
