@font-face {
  font-family: "wotfardregular";
  src: url("/public/fonts/wotfard-regular-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html,
body {
  font: wotfardregular;
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
}

a {
  text-decoration: none;
  color: white;
  transition-property: border-bottom-style;
  transition-duration: 0.5s;
}

a:hover {
  border-bottom-style: solid;
  border-bottom-color: white;
}

.mainDiv {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
}

.mainContainer {
  flex: 1;
}
