.header {
  box-sizing: border-box;
  width: 90vw;
  display: flex;
  flex-direction: row;
  margin-left: 5vw;
  margin-right: 5vw;
  margin-bottom: 2.5vw;
  margin-top: 2.5vw;
}

.homeLink {
  flex: 1;
}
